streamlit
opencv-python
layoutparser
layoutparser[ocr]
torchvision
layoutparser[effdet]
tensorflow
keras-ocr
pytesseract
--extra-index-url  https://download.pytorch.org/whl/cpu
torch --extra-index-url https://download.pytorch.org/whl/cpu
--index-url git+https://github.com/facebookresearch/detectron2.git@v0.5#egg=detectron2


