streamlit
torch -index-url https://download.pytorch.org/whl/cpu
opencv-python
layoutparser
layoutparser[ocr]
torchvision
layoutparser[effdet]
tensorflow
keras-ocr
pytesseract
detectron2 -index-url git+https://github.com/facebookresearch/detectron2.git


