streamlit
opencv-python
layoutparser
layoutparser[ocr]
layoutparser[effdet]
tensorflow
keras-ocr
pytesseract
torch ==2.2.0 
torchvision==2.2.0 
detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.5#egg=detectron2



